<section
  class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary">
  <div class="hero-body {% if page.hero_darken %} hero-darken {% endif %}">
    <div class="container is-flex">
      {% if page.hero_image %}
      <img class="image logo" src="{{ page.hero_image }}">
      {% endif %}

      {% if page.hero_link %}
      <a href="{{ page.hero_link | relative_url }}" class="button is-info is-large">{{ page.hero_link_text }}</a>
      {% endif %}
    </div>
  </div>
</section>
